/*
Theme Name:  Read (shared on wplocker.com)
Theme URI:   http://themeforest.net/user/pixelwars/portfolio?ref=pixelwars
Author:      Pixelwars
Author URI:  http://themeforest.net/user/pixelwars?ref=pixelwars
Description: Responsive WordPress theme.
Version:     4.0
License:     ThemeForest License
License URI: http://themeforest.net/licenses?ref=pixelwars
Tags:        light, dark, white
Text Domain: read
*/

/*
    Do not remove any of the commented text above as it is used by the theme for proper function!
*/

/* WordPress Core -------------------------------------------------------------- */

.alignnone {
    margin: .4em 0 1.4em 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 1.8em auto;
}

.alignright {
    float: right;
    margin: .3em 0 2em 2em;
}

.alignleft {
    float: left;
    margin: .3em 2em 2em 0;
}

.aligncenter {
    display: block;
    margin: 1.8em auto;
	clear: both;
}

a img.alignright {
    float: right;
    margin: .3em 0 2em 2em;
}

a img.alignnone {
    margin: 1em 0;
}

a img.alignleft {
    float: left;
    margin: .3em 2em 2em 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
	color: #777777;
    background: #ffffff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 1.4em 0;
}

.wp-caption.alignleft {
    margin: .3em 1.6em 1em 0;
}

.wp-caption.alignright {
    margin: .3em 0 1em 1.5em;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
}

.wp-caption p.wp-caption-text {
    font-size: .80em;
    margin: 0;
    padding: .2em .4em;
}

.sticky {

}

.gallery-caption {
    line-height: 1.4;
    color: #666;
}

.bypostauthor {

}

.alignleft:first-child,
.alignright:first-child {
	margin-top:1.2em;
}